<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<title>BootstrapIndexPage</title>
</head>
<body>
	<wicket:panel>
		<div wicket:id="feedback" style="display: none"></div>
		<form wicket:id="signInForm" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
					<input type="text" id="inputUsername" placeholder="Username" wicket:id="username" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" placeholder="Password" wicket:id="password" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox" wicket:id="rememberMeRow">
						<input type="checkbox" wicket:id="rememberMe"> Remember me
					</label>
					<button type="submit" class="btn">Sign in</button>
				</div>
			</div>
		</form>
	</wicket:panel>
</body>
</html>