*.iml
/.idea
/.settings
/.project
/target
/core/.settings
/core/.project
/core/.classpath
/core/target
/bootstrap/target
/bootstrap/.settings
/bootstrap/.project
/bootstrap/.classpath
/dontdrinkandroot/target
/dontdrinkandroot/.settings
/dontdrinkandroot/.project
/dontdrinkandroot/.classpath
/example/.settings
/example/.classpath
/example/.factorypath
/example/.project
/example/target
/example/.apt_generated
/experimental/.settings
/experimental/.project
/experimental/.classpath
/experimental/target
