<!DOCTYPE html>
<html xmlns:wicket>
<body>
	<wicket:extend>
		<h2>Styles</h2>
		<p class="btn-toolbar">
			<span wicket:id="buttonStyle"></span>
		</p>
		
		<h2>Sizes</h2>
		<p class="btn-toolbar">
			<span wicket:id="buttonSize"></span>
		</p>
		
		<h2>Dropdown Buttons</h2>
		<div wicket:id="dropDownButton"></div>
		<div wicket:id="splitDropDownButton"></div>
		
		<h2>Button Groups</h2>
		<h3>Button Group Choice</h3>
		<div wicket:id="buttonGroupChoice"></div>
	</wicket:extend>
</body>
</html>
