<!DOCTYPE html>
<html xmlns:wicket>
<body>
<wicket:extend>
    <h2>ButtonBehavior</h2>

    <p>The <code title="net.dontdrinkandroot.wicket.bootstrap.behavior.ButtonBehavior">ButtonBehavior</code> is a
        Behavior that manages the styling of components that should be shown as button.</p>

    <h2>Styles</h2>
    <p>Button Styles are encapsulated in the <code title="net.dontdrinkandroot.wicket.bootstrap.css.ButtonStyle">ButtonStyle</code>
        Enumeration</p>

    <h3>Available Styles</h3>
    <div>
        <button type="button" wicket:id="buttonStyle" class="m-1"></button>
    </div>

    <h3>Example Code</h3>
    <pre><code>link.add(new ButtonBehavior(ButtonStyle.PRIMARY));
link.add(new ButtonBehavior().setButtonStyle(ButtonStyle.PRIMARY));</code></pre>


    <h2>Sizes</h2>
    <p>Button Sizes are encapsulated in the <code title="net.dontdrinkandroot.wicket.bootstrap.css.ButtonSize">ButtonSize</code>
        Enumeration</p>

    <h3>Available Sizes</h3>
    <div>
        <button type="button" wicket:id="buttonSize" class="m-1"></button>
    </div>

    <h3>Example Code</h3>
    <pre><code>link.add(new ButtonBehavior(ButtonSize.LARGE));
link.add(new ButtonBehavior().setButtonSize(ButtonSize.LARGE));</code></pre>

    <h2>Dropdown Buttons</h2>
    <div wicket:id="dropdownButton"></div>
    <div wicket:id="dropupButton"></div>
    <div wicket:id="splitDropdownButton"></div>

    <h2>Button Groups</h2>
    <h3>Button Group Choice</h3>
    <div wicket:id="buttonGroupChoice"></div>

</wicket:extend>
</body>
</html>
