<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

    <section class="mb-3">
        <h2>Tabs</h2>
        <div wicket:id="tabsDefault"></div>
    </section>

    <section class="mb-3">
        <h3>Justified</h3>
        <div wicket:id="tabsJustified"></div>
    </section>

    <section class="mb-3">
        <h2>Pills</h2>
        <div wicket:id="pillsDefault"></div>
    </section>

    <section class="mb-3">
        <h3>Stacked</h3>
        <div wicket:id="pillsStacked"></div>
    </section>

    <section class="mb-3">
        <h3>Justified</h3>
        <div wicket:id="pillsJustified"></div>
    </section>

</wicket:extend>
</body>
</html>
